extends layouts/frontend

block content
    .flex.items-center.justify-center.h-full.mt-5
        .bg-gray-200.rounded-xl.p-8(class='h-2/5 w-1/2')
            h1.font-medium Ceci est la page des posts

