mixin field(type, name, placeholder)
    .flex.flex-col.py-2.mb-2.text-gray-300
            input.border-b.text-lg.outline-none.bg-transparent.py-4.transition-all.duration-150(type=type, name=name id=name placeholder=placeholder class='focus:border-b-sky-500 focus:border-b-2')